canvas {
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black
}

/* scrollbar 제거*/
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-vertical {
  display: none;
}
* {
  scrollbar-width: none;
}